body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}

.form {
    border: 3px;
    color: black;
}

.loginheader {
    text-align: center;
}

.container {
    padding: 16px;
    width: 50%;
    top: 40%;
    left: 40%;
    margin-top: -150px;
    margin-left: -200px;
    position: absolute;
    border: 3px solid #f1f1f1;
}

.inputtext {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #fefefe;
    color: #0c0000;
    margin: 0.6rem 0.6rem 1rem 0;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    border-color: transparent;
    cursor: pointer;
    width: auto;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
}

.button:hover {
    opacity: 0.8;
}

.button-border {
    line-height: 1;
    outline: none;
    font-family: Source Sans Pro;
}

.error_message {
    color: red;
    text-align: center;
}

.time {
    font-weight: bold;
    color: black;
    float: right;
    padding: 10px 15px 9px 15px !important;
}

.welcome {
    display: none;
    padding: 1em;
    background-color: #e7f4e4;
}

.welcomeheader {
    text-align: center;
    font-weight: 700;
    color: black;
    font-size: 4rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
